# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
venv/

# IDE
.vscode/

# OS
Thumbs.db

# Jupyter
.ipynb_checkpoints

# Project artifacts
FAQ EXTRACTOR/*.jsonl
FAQ EXTRACTOR/QnA/*.jsonl
StudentAttendance/attendance.csv
StudentAttendance/face_model.yml
StudentAttendance/labels.pkl
StudentAttendance/student_images/