Flask
fastapi
uvicorn
python-multipart
jinja2
python-dotenv
pandas
numpy
scikit-learn
plotly
sentence-transformers
streamlit
watchdog
opencv-python-headless  # Replaced opencv-python with headless version to reduce size
requests
beautifulsoup4
lxml
sqlparse
folium
contractions
joblib