Flask
fastapi
uvicorn
python-multipart
jinja2
python-dotenv
pandas
numpy
matplotlib
seaborn
scikit-learn
imbalanced-learn
xgboost==1.7.6
shap
plotly
sentence-transformers
streamlit
opencv-contrib-python  # Needed for StudentAttendance LBPHFaceRecognizer_create and GUI attendance windows
requests
beautifulsoup4
lxml
playwright
selenium
sqlparse
folium
contractions
joblib
torch==2.10.0+cpu --find-links https://download.pytorch.org/whl/cpu/torch_stable.html
--extra-index-url https://download.pytorch.org/whl/cpu
gunicorn